section.details {
  height: 55%;
}

.details .image {
  margin: 50px 0 30px;
  text-align: center;
}

.details .image img {
  max-width: 92.5%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.details p {
  width: 90%;
  margin: 5% auto;
  line-height: 160%;
  text-align: center;
}

.actions {
  width: 50%;
}

@media (min-width: 500px) {
  section.details {
    height: 60%;
  }
  .details .image img {
    border-radius: 15px;
  }
  .details p {
    font-size: 20px;
  }
  .actions {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  section.details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
  }
  section.details > * {
    flex-basis: 50%;
  }
  .details .image {
    margin: 0 0 10px;
  }
  .details .image img {
    max-width: 90%;
    border-radius: 20px;
  }
  .details p {
    padding: 2.5%;
    font-size: 18px;
  }
  .actions {
    padding: 0 25%;
  }
}
@media (min-width: 1440px) {
  section.details {
    height: 60%;
  }
  .details p {
    padding: 5%;
    font-size: 20px;
  }
  .actions {
    padding: 0 20%;
  }
}

@media (min-width: 1600px) {
  .actions {
    padding: 0 25%;
  }
}
