.banner {
  position: absolute;
  top: 0;
  right: 150%;

  opacity: 0;
  filter: blur(2px);
  transition: 1s;
}

.banner--active {
  opacity: 1;
  filter: blur(0);
  transition: 0.5s;
}

.banner-image {
  text-align: center;
}

.banner-image img {
  width: 75%;
}

.banner-text {
  width: 100%;
}

.header {
  font-size: 38px;
  line-height: 120%;
  font-family: 'Bold';
  color: #fcfcfc;
  margin: 10px 0;
  text-align: center;
}

.description {
  font-family: 'Roboto-Thin';
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.25px;
  color: #eee;
  text-align: center;
}

@media (min-width: 390px) {
  .banner-image {
    margin-bottom: 20px;
  }
  .banner-image img {
    width: 80%;
  }
  .header {
    font-size: 46px;
  }
  .description {
    font-size: 18px;
    line-height: 165%;
  }
}

@media (min-width: 768px) {
  .banner-image {
    margin: 0;
    padding: 2.5%;
  }
  .banner-image img {
    width: 80%;
  }
  .banner-text {
    margin-bottom: 20px;
  }
  .header {
    width: 100%;
    margin: 0 auto 20px;
    font-size: 56px;
  }
  .description {
    width: 80%;
    margin: 0 auto 50px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .banner--active {
    display: flex;
    align-items: center;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: 95%;
  }

  .banner-text {
    flex-basis: 55%;
    margin-bottom: 0;
  }

  .header {
    font-size: 56px;
    margin: 10px 0 15px;
  }

  .description {
    font-size: 20px;
    line-height: 150%;
  }
}

@media (min-width: 1440px) {
  .banner-image img {
    width: 90%;
  }
  .header {
    font-size: 60px;
  }

  .description {
    font-size: 22px;
  }
}

@keyframes bannerShowup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
