@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url('./fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url('./fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Light';
  src: local('RobotoCondensed-Light'),
    url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src: local('RobotoCondensed-Regular'),
    url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bold';
  src: local('RobotoCondensed-Bold'),
    url('./fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt-Regular';
  src: local('Prompt-Regular'),
    url('./fonts/Prompt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt-SemiBold';
  src: local('Prompt-SemiBold'),
    url('./fonts/Prompt-SemiBold.ttf') format('truetype');
}
